body
{
	width:100%;
	height:100vh;
	margin:0;
	background-color:#1b1b32;
	font-family:'Poppins',sans-serif;
	font-size:16px;
	color:#fff
}

.topnav
{
	background-color:#4949a7;
	position:fixed;
	top:0;
	width:100%;
	display:grid;
	grid-template-columns:auto auto auto auto auto;
	justify-content:space-between
}

.topnav div
{
	color:#f2f2f2
}

.topnav img
{
	width:50px;
	height:50px;
	border-radius:50%;
	position:absolute;
	margin-top:-15px;
	margin-left:-60px
}

#user-name
{
	display:block;
	padding:14px 16px;
	margin-top:5px;
	margin-right:20px;
	font-size:17px;
	text-align:center;
	position:relative;
	font-weight:700
}

#user-name:hover,#user-name:active
{
	background-color:#4949a7
}

#user-name,#logo,#h-btn,#cpass-btn
{
	text-decoration:none;
	color:#fff
}

#logo
{
	margin-left:20px;
	font-family:'Poppins',sans-serif
}

#logo:hover,#logo:active
{
	background-color:#4949a7
}

#h-btn,#cpass-btn
{
	background-color:#4949a7;
	display:block;
	padding:14px 16px;
	margin-top:5px;
	margin-right:20px;
	font-size:17px;
	text-align:center;
	grid-column:5
}

#h-btn:hover,#h-btn:active,#cpass-btn:hover,#cpass-btn:active
{
	background-color:#3a3a92
}

.changepass
{
	grid-column:4
}

.logout
{
	grid-column:5
}

.sidenav
{
	background-color:#032c57;
	position:fixed;
	width:15%;
	margin-top:59px;
	height:100vh
}

.sidenav a:link,a:visited
{
	background-color:#4949a7;
	color:#fff;
	display:block;
	padding:14px 16px;
	text-decoration:none;
	font-size:16px;
	margin:10px
}

.sidenav a:hover,a:active
{
	background-color:#00356d
}

.container
{
	float:right;
	width:82%;
	min-height:514px;
	margin-top:50px;
	margin-right:20px;
	padding-bottom:60px;
	position:relative;
	text-align:center
}

.footer
{
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background-color:#dac0c0;
	text-align:center;
	width:100%;
	font-size:14px;
	color:#1b1b32
}

form
{
	width:40vw;
	min-width:300px;
	margin:auto
}

fieldset
{
	background-color:#2196F3;
	color:#1c1e21;
	margin-top:20px;
	border:1px solid #000;
	padding-right:20px
}

input
{
	color:#000;
	font-family:Arial,Helvetica,sans-serif;
	font-size:medium
}

input:focus
{
	background-color:#f2f2f2
}

input,select
{
	margin:10px 0 0;
	width:100%;
	min-height:2em;
	border:1px solid #1b1bc0
}

input:hover,select:hover,file:hover
{
	cursor:pointer
}

select
{
	min-height:2em
}

.file
{
	border:none
}

::placeholder,select
{
	color:charcoal;
	font-family:Lorem Ipsum;
	font-size:large
}

label
{
	font-family:Tahoma;
	font-size:18px;
	display:block;
	margin:.5rem 0;
	text-align:left
}

.inline
{
	width:auto;
	margin:auto;
	vertical-align:middle
}

input[type="submit"]
{
	background-color:#3e8e41;
	color:#fff;
	font-family:Georgia;
	display:block;
	width:60%;
	margin:1em auto;
	border:none;
	min-width:300px;
	border-radius:10px;
	font-size:18px
}

input[type="submit"]:hover
{
	background-color:#2a722c;
	cursor:pointer
}

input[type="submit"]:active
{
	background-color:#3e8e41;
	transform:translateY(4px)
}

.popup
{
	position:absolute;
	font-family:sans-serif;
	background-color:#fff;
	color:#333;
	font-size:18px;
	text-align:center;
	padding:10px;
	border-radius:10px;
	box-shadow:5px 5px 20px #000;
	margin:auto;
	width:30vw;
	top:100px;
	left:0;
	right:0
}

#message,#hmessage
{
	text-align:center;
	margin:10px
}

.iconPopup
{
	margin:auto
}

#ok-icon-close
{
	display:none
}

#warning-icon-close
{
	display:none
}

#ok-icon-open
{
	display:block
}

#warning-icon-open
{
	display:block
}

#close-btn
{
	border:none;
	padding:10px;
	margin-top:10px;
	width:100%;
	background-color:#f5f501;
	border-radius:5px
}

#open-popup
{
	display:block
}

#close-popup
{
	display:none
}

#warn-p
{
	text-align:center;
	font-family:Tahoma;
	width:70%;
	font-size:24px
}

#data
{
	font-style:italic;
	margin-top:-2px
}

#title,#data
{
	font-family:Tahoma
}

.heading
{
	text-align: center;
}

.err
{
	text-align:center;
	color:#fff;
	background-color:red;
	width:60%;
	padding:10px;
	border-radius:2px;
	display:none;
	margin:auto
}

.card-box
{
	display:grid;
	grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
	gap:20px;
	background-color:#1a1a57;
	color:#1b1e21;
	padding:20px
}

.card-box .card
{
	float:left;
	background-color:#2196F3;
	margin:10px 0;
	border-radius:5px;
	box-shadow:0 0 8px 5px #0000004d
}

.card-box .card:hover
{
	box-shadow:0 0 8px 10px #0000004d
}

#card-name
{
	font-size:18px;
	margin-bottom:-10px
}

.card-box .card img
{
	width:150px;
	height:150px;
	border-radius:50%;
	margin-top:10px
}

#details
{
	background-color:#00356d;
	color:#fff;
	display:block;
	padding:14px 16px;
	margin:10px;
	text-decoration:none;
	font-size:17px;
	border-radius:5px;
	text-align:center
}

#details:hover
{
	background-color:#032c57
}

#navcc
{
	background-color:#f3f300;
	color:#000
}

.dataset1,.dataset2
{
	margin-top:30px
}

.dataset1
{
	float:left;
	font-family:Verdana,Geneva,Tahoma,sans-serif;
	font-size:x-large;
	margin:50px 100px
}

.dataset1 img
{
	width:300px;
	height:300px;
	border-radius:50%
}

#camera
{
	margin-top:-180px;
	margin-left:190px;
	font-size:50px;
	opacity:70%
}

#camera:hover
{
	opacity:100%;
	cursor:pointer
}

.dataset2
{
	float:right;
	font-family:Verdana,Geneva,Tahoma,sans-serif;
	width:550px;
	text-align:left
}

.dataset2 label
{
	font-weight:700;
	font-size:18px
}

.dataset2 p
{
	padding-left:30px
}

.dataset2 .address,.contnum,.basic,.joindate
{
	border:2px solid #4949a7;
	padding:10px 20px
}

.dataset2 .contnum,.basic,.joindate
{
	border-top:none
}

#edit-btn
{
	border:none;
	background:none;
	float:right;
	font-size:24px;
	cursor:pointer;
	margin-top:-40px
}

#admin-update-form
{
	width:auto
}

#addressUpdate,#contUpdate,#basicUpdate
{
	display:none
}

#addressInfo,#contInfo,#basicInfo
{
	display:block
}

#uc-btn
{
	text-decoration:none;
	color:#fff;
	background-color:#4949a7;
	display:block;
	padding:6px 8px;
	font-size:14px;
	text-align:center;
	border:none;
	float:right;
	margin-right:3px;
	margin-top:-30px
}

#uc-btn:hover,#uc-btn:active
{
	background-color:#3a3a92;
	cursor:pointer
}

.ApplicationForm
{
	padding-bottom:50px
}

.checkstatus,.back
{
	text-align:center;
	font-size:24px
}

#checkstatus,#back
{
	text-decoration:none;
	font-weight:700;
	color:#f0f006
}

.back
{
	margin-top:35px
}

#back
{
	background-color:#e7e703;
	color:#1c1e21;
	padding:10px;
	font-weight: lighter;
	font-size:18px;
	border-radius:5px
}

.Applicants
{
	margin:auto
}

.Applicants .ApplicantsData
{
	width:70%;
	margin:auto;
	background-color:#fff;
	color:#1c1e21;
	font-size:18px;
	margin-bottom:50px;
	text-align:left;
	padding:0 20px;
	display:block;
	border:1px solid #4949a7;
	font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
	box-shadow:0 0 8px 5px #0000004d
}

.Applicants .ApplicantsData label
{
	font-weight:700
}

.Applicants .ApplicantsData label,p
{
	display:inline-block;
	margin:10px 0
}

.Applicants .ApplicantsData img
{
	width:132.28346457px;
	height:170.07874016px;
	float:right;
	margin-top:20px;
	box-shadow:0 0 3px 2px #0000004d
}

.Applicants .ApplicantsData a:link,a:visited
{
	background-color:#4949a7;
	color:#fff;
	padding:5px 20px;
	margin:10px;
	font-size:20px;
	display:inline-block;
	text-decoration:none;
	border-radius:5px
}

#download
{
	padding:5px 10px;
	font-size:16px
}

#no-data-show
{
	margin:auto;
	margin-top:150px;
	font-size:48px;
	background-color:#3e8e41;
	padding:10px;
	border-radius: 5px;
	width:60%;
	text-align:center;
	display:block
}

#no-data-hide
{
	display:none
}