body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    font-family:'Poppins', sans-serif;
    font-size: 16px;
    color: #fff;
}
#logo
{
    margin: auto;
    margin-top: 80px;
    margin-bottom: -20px;
    text-align: center;
    font-family:'Poppins',sans-serif;
    color: #f3f300;
}
#login-title{
    text-align: center;
    font-family: Tahoma;
    color: #1b1b32;
}

.option a:link, a:visited {
    font-size: 16px;
    padding: 5px;
    display: block;
    margin: auto;
    background-color: #3e8e41;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 10%;
    border-radius: 5px;
}

.option a:hover, a:active{
    background-color: #2a722c;
}

#forget-btn {
    font-size: 16px;
    margin: auto;
    text-decoration: none;
    color: #1b1b32;
}
#forget-btn:hover, #forget-btn:active {
    color: #020220;
    background-color: #2196F3
}
p {
    text-align: center;
}

form {
    width: 30%;
    margin: auto;
    margin-top: 50px;
}

fieldset {
    background-color: #2196F3;
    color: #000;
    box-shadow: 0px 0px 8px 5px #0000004d;
    margin-top: 20px;
    border: 1px solid #333;
    padding-right: 20px;
    border-radius: 5px;
}

.err {
    text-align:center;
	background-color: #f2f2f2;
	color: #ff0000;
	width: fit-content;
	padding: 10px 20px;
	font-size: 18px;
	border-radius:5px;
	display:none;
	margin:auto
}

footer {
    position: fixed;
    left:0;
	right:0;
	bottom:0;
	background-color:#d4afaf;
	text-align:center;
	width:100%;
	font-size:14px;
	color:#1b1b32
}

input {
    background-color: Greyout;
    border: 1px solid Greyout;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

::placeholder {
    color: charcoal;
    font-family: Lorem Ipsum;
    font-size: large;
}

label {
    font-family: Tahoma;
    font-size: 18px;
    display: block;
    margin: 0.5rem 0;
}

.inc-pass {
    font-size: 18px;
    background-color: #ff0000;
    padding: 15px;
    text-align: center;
    margin-left: 10px;
    color: #fff;
}

input[type="submit"] {
    background-color: #3e8e41;
    color: #fff;
    font-family: Georgia;
    display: block;
    width: 80%;
    margin: 1em auto;
    border: none;
    min-width: 300px;
    border-radius: 10px;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #2a722c;
    cursor: pointer;
}

input[type="submit"]:active{
    background-color: #2a722c;
    transform: translateY(4px);
}

#open-popup {
    display: block;
}

#close-popup {
    display: none;
}